*
!.gitignore
!AdaCredit/
!AdaCredit/AdaCredit.cs
!AdaCredit/AdaCredit.csproj
!AdaCredit/App.cs
!AdaCredit/Client.cs
!AdaCredit/DatabaseClient.cs
!AdaCredit/Employee.cs
!AdaCredit/Makefile
!AdaCredit/Transaction.cs
!AdaCredit/Utils.cs
!README.txt
